.app__home, 
.app__destination,
.app__crew,
.app__technology {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

.app__home {
    background-image: url('../images/home/background-home-mobile.jpg');
}

.app__destination {
    background-image: url('../images/destination/background-destination-mobile.jpg');
}

.app__crew {
    background-image: url('../images/crew/background-crew-mobile.jpg');
}

.app__technology {
    background-image: url('../images/technology/background-technology-mobile.jpg');
}

/* Tablet */
@media (min-width: 35em) {
    .app__home {
        background-image: url('../images/home/background-home-tablet.jpg');
    }

    .app__destination {
        background-image: url('../images/destination/background-destination-tablet.jpg');
    }
    
    .app__crew {
        background-image: url('../images/crew/background-crew-tablet.jpg');
    }
    
    .app__technology {
        background-image: url('../images/technology/background-technology-tablet.jpg');
    }
}

/* Desktop */
@media (min-width: 60em) {
    .app__home {
        background-image: url('../images/home/background-home-desktop.jpg');
    }

    .app__destination {
        background-image: url('../images/destination/background-destination-desktop.jpg');
    }
    
    .app__crew {
        background-image: url('../images/crew/background-crew-desktop.jpg');
    }
    
    .app__technology {
        background-image: url('../images/technology/background-technology-desktop.jpg');
    }
}