@import './index.css';

.crew-page {
    padding-inline: 1.5rem;
}

.crew-page__info {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.crew-page__img-container {
    display: flex;
    align-items: flex-end;
    height: 250px;
    border-bottom: 1.5px solid hsl(var(--clr-light-cream) / 0.17);
    justify-content: center;
}

.crew-page__img > * {
    align-self: flex-end;
    height: 220px;
    width: auto;
}

.crew-page__title {
    font-family: var(--ff-body-condensed);
    font-weight: var(--fw-regular);
    text-transform: uppercase;
    color: hsl(var(--clr-light-cream));
    letter-spacing: var(--ls-lg);
}

.crew-page__role {
    font-family: var(--ff-heading);
    text-transform: uppercase;
    color: hsl(var(--clr-light-cream) / 0.5);
    font-size: var(--fs-400);
    margin-top: 2rem;
}

.crew-page__name {
    font-family: var(--ff-heading);
    text-transform: uppercase;
    color: hsl(var(--clr-light-cream));
    font-size: var(--fs-600);
    line-height: var(--lh-sm);
    margin-top: 0.5rem;
}

.crew-page__bio {
    font-family: var(--ff-body);
    color: hsl(var(--clr-light-purple));
    margin-top: 1rem;
    line-height: var(--lh-xs);
    margin-bottom: 1rem;
}

.crew-page__title > span {
    display: inline;
    padding-right: 1rem;
    color: hsl( var(--clr-light-cream) / 0.3 );
    font-weight: var(--fw-bold);
}

.crew-page__selectors {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    padding: 0;
}

.crew-page__selector > button {
    cursor: pointer;
    border-radius: 50%;
    width: 0.625rem;
    aspect-ratio: 1;
    border: none;
    background: hsl(var(--clr-light-cream) / 0.17);
}

.crew-page__selector > button:hover,
.crew-page__selector > button:focus {
   background: hsl(var(--clr-light-cream) / 0.4);
} 

.crew-page__selector > button:active {
    background: hsl(var(--clr-light-cream) / 1);
}

.crew-page__selector > button.active {
    background: hsl(var(--clr-light-cream) / 1);
}

/* Tablet */
@media (min-width: 35em) {
    .crew-page {
        padding-inline: 2.4375rem;
    }

    .crew-page__info {
        flex-direction: column;
    }

    .crew-page__details {
        display: flex;
        flex-direction: column-reverse;
    }

    .crew-page__bio {
        font-size: var(--fs-400);
        line-height: var(--lh-sm);
        max-width: 28.625rem;
        margin-inline: auto;
        margin-top: 1rem;
        height: 100px;
    }

    .crew-page__role {
        font-size: var(--fs-600);
        margin-top: 3.75rem;
    }

    .crew-page__name {
        font-size: var(--fs-750);
    }

    .crew-page__img-container {
        height: 100%;
        border-bottom: none;
    }
    
    .crew-page__img > * {
        position: absolute;
        bottom: 0;
        height: 40%;
        transform: translateX(-50%);
    }
}

/* Desktop */
@media (min-width: 60em) {
    .crew-page__info {
        max-width: 1150px;
        padding-top: 2rem;
        gap: 10rem;
    }

    .crew-page__details {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 6rem;
        margin-top: 5rem;
        gap: 6rem;
    }

    .crew-page__role {
        font-size: var(--fs-725);
    }

    .crew-page__name {
        margin-top: 2rem;
        font-size: var(--fs-800);
    }

    .crew-page__bio {
        margin-left: 0;
        margin-top: 2.5rem;
        font-size: var(--fs-450);
        line-height: var(--lh-med);
    }

    .crew-page__info {
        text-align: left;
    }

    .crew-page__img > * {
        height: 500px;
        transform: translateX(35%);
    }

    .crew-page__selectors {
        justify-content: left;
        margin-top: 0;
    }
}

/* Large Desktop */
@media (min-width: 82em) {
    .crew-page__img > * {
        height: 650px;
        transform: translateX(25%);
    }
}