@import './index.css';

.home-page {
    text-align: center;
    color: hsl(var(--clr-light-purple));
    font-weight: var(--fw-regular);
    display: flex;
    flex-direction: column;
    height: 75vh;
}

.home-page > * {
    margin-top: auto;
}

.home-page__title {
    text-transform: uppercase;
    font-family: var(--ff-body-condensed);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-med);
    font-size: var(--fs-400);
}

.home-page__title > span {
    font-family: var(--ff-heading);
    color: white; /* custom property wasn't working*/
    font-size: var(--fs-900);
    display: block;
}

.home-page__description {
    font-size: var(--fs-300);
    font-family: var(--ff-body);
    margin-top: 1rem;
    max-width: 20.4375rem;
    margin-inline: auto;
}

/* Tablet */
@media (min-width: 35em) {
    .home-page__title {
        letter-spacing: var(--ls-lg);
        font-size: var(--fs-500);
    }

    .home-page__description {
        max-width: 27.75rem;
        margin: 0 auto;
        line-height: var(--lh-sm);
    }
}

/* Desktop */
@media (min-width: 60em) {
    .home-page {
        flex-direction: row;
        text-align: left;
        max-width: 900px;
        margin-inline: auto;
        justify-content: space-between;
    }

    .home-page__title {
        letter-spacing: var(--ls-xl);
        font-size: var(--fs-700);
    }

    .home-page__title > span {
        font-size: var(--fs-950);
        margin-top: 1.5rem;
    }

    .home-page__description {
        margin-left: 0;
        line-height: var(--lh-med);
        margin-top: 1.5rem;
        font-size: var(--fs-450);
    }
}

/* Large Desktop */
@media (min-width: 82em) {
    .home-page {
        max-width: 1100px;
    }
}