@import './index.css';

.page-title > span {
    display: inline;
    padding-right: 1rem;
    color:hsl( var(--clr-light-cream) / 0.3 );
    font-weight: var(--fw-bold);
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    color: hsl(var(--clr-light-cream));
    font-family: var(--ff-body-condensed);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-med);
    margin-top: 2rem;
}

/* Tablet nav */
@media (min-width: 35em) {
    .page-title {
        text-align: left;
        margin-top: 4.5rem;
        font-size: var(--fs-500);
    }
}

/* Desktop nav */
@media (min-width: 60em) {
    .page-title {
        margin-top: 7rem;
        font-size: var(--fs-700);
        margin-left: 6rem;
    }
}