@import './index.css';

.technology-page__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.technology-page__img {
    margin-top: 2rem;
}

.technology-page__terminology {
    text-transform: uppercase;
    font-weight: var(--fw-regular);
    font-family: var(--ff-body-condensed);
    color: hsl(var(--clr-light-purple));
    font-size: var(--fs-200);
    letter-spacing: var(--ls-sm);
}

.technology-page__name {
    text-transform: uppercase;
    font-weight: var(--fw-regular);
    font-family: var(--ff-heading);
    color: hsl(var(--clr-light-cream));
    font-size: var(--fs-600);
    margin-top: 0.5rem;
}

.technology-page__details {
    margin-top: 1.625rem;
}

.technology-page__description {
    font-weight: var(--fw-regular);
    font-family: var(--ff-body);
    color: hsl(var(--clr-light-purple));
    font-size: var(--fs-300);
    margin-top: 1rem;
    padding-inline: 1.5rem;
    line-height: var(--lh-xs);
}

.technology-page__selectors {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.technology-page__selector > button {
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid hsl( var(--clr-light-cream) / 0.3);
    width: 2.5rem;
    text-align: center;
    aspect-ratio: 1;
    background-color: hsl( var(--clr-light-cream) / 0);
    color: hsl( var(--clr-light-cream) );
    font-size: var(--fs-400);
}

.technology-page__selector > button:hover,
.technology-page__selector > button:focus {
    border-color: hsl( var(--clr-light-cream) / 1);
}

.technology-page__selector:active > button {
    background-color: hsl( var(--clr-light-cream) / 1);
    color: var(--clr-dark-blue);
}

.technology-page__selector.active > button {
    background-color: hsl( var(--clr-light-cream) / 1);
    color: var(--clr-dark-blue);
}

/* Tablet */
@media (min-width: 35em) {
    .technology-page > .page-title {
        padding-inline: 2.4375rem;
    }

    .technology-page__img {
        margin-top: 3.75rem;
    }

    .technology-page__selectors {
        margin-top: 3.5rem;
    }

    .technology-page__selector > button {
        font-size: var(--fs-600);
        width: 3.75rem;
    }

    .technology-page__name {
        margin-top: 1rem;
        font-size: var(--fs-750);
    }

    .technology-page__details {
        margin-top: 2.75rem;
    }

    .technology-page__description {
        max-width: 28.625rem;
        margin-inline: auto;
        font-size: var(--fs-400);
        line-height: var(--lh-sm);
        padding-bottom: 2.4375rem;
    }

    .technology-page__terminology {
        letter-spacing: var(--ls-med);
        font-size: var(--fs-400);
    }
}

/* Desktop */
@media (min-width: 60em) {
    .technology-page__info {
        flex-direction: row;
        text-align: left;
        margin-left: 8.4375rem;
        margin-top: 8.5625rem;
        gap: 3rem;
        align-items: flex-start;
    }

    .technology-page__selectors {
        order: 1;
        flex-direction: column;
        margin-top: 0;
        gap: 2rem;
        width: 5rem;
    }

    .technology-page__details {
        order: 2;
        margin-top: 0;
    }

    .technology-page__img {
        order: 3;
        margin-top: 0;
        width: 21.75rem;
    }

    .technology-page__description {
        padding-inline: 0;
        max-width: 350px;
        margin-inline: 0;
    }
}

/* Large Desktop */
@media (min-width: 82em) {
    .technology-page__info {
        gap: 5rem;
    }
    
    .technology-page__img {
        width: 100%;
        max-width: 32.1875rem;
        position: absolute;
        right: 0;
        top: 30%;
    }    
    
    .technology-page__selector > button {
        width: 5rem;
        font-size: var(--fs-725);
    }

    .technology-page__terminology {
        font-size: var(--fs-400);
        letter-spacing: var(--ls-med);
    }

    .technology-page__name {
        font-size: var(--fs-800);
    }

    .technology-page__description {
        font-size: var(--fs-450);
        line-height: var(--lh-med);
        max-width: 445px;
    }
}